.inter-uniquifier> {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-uniquifier> {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .inter-uniquifier> {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    .inter-uniquifier> {
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
      }

      header {
        background-color: #8db0d9; 
        padding: 1rem 3vw;
      }

/* Header section styling */
header span: {
    margin: 0.5;
    color: #A1E3D2;
    letter-spacing: .5px
}
h2 {
    color:darkcyan;
}

ol li {
    color:cadetblue;
    letter-spacing: .5px;
    margin: 0.10;
    padding:.5rem 1vw;
}

/* Nav section styling */
nav {
    background-color:aliceblue
}

nav ul {
    list-style-type:lower-roman;
    padding: 5 2vw;
    margin: 0;
    display:flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration:double;
    color:darkcyan;
    font-weight:700;
    display:block;
    padding: .45rem 2rem;
}

nav a:hover {
    color:cyan
}

/* Main section styling */
main {
    padding: 2rem; 2vw;
}

main h1 {
    color:cadetblue;
}

main h2 {
    color:cadetblue;
    margin-bottom: .2rem;
}

main p {
    color:rgb(7, 75, 75);
    margin: 0;
}

main ol {
    padding: 1rem 30px;
    background-color:beige;
}

main dl dt {
    color:darkcyan;
    font-weight: 400;
}

main dl dd {
    color:darkcyan;
    font-size: 1rem;
    margin-left: 20px;
}

main ul {
    list-style-type: lower-greek;
}

main ul li {
    line-height: 200%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address{
    font-style: normal;
    background-color:#8db0d9;
    width: 12.5rem;
    padding: .5rem;
    border: 2px solid #024873;
    border-radius: .5rem;
}

main a {
    color: #024873;
}

main a:hover {
    color:floralwhite;
}

/* Footer section styling */
footer {
    background-color:#8db0d9;
    text-align:center; 
    color: #024873;
    padding: 1rem 0;
    font-size: .8rem;
}
    


}